* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Color 
$black : #191919;
$white: #ffffff;
$transparent-white: #ffffff20;
$red: #EC011C;
$yellow: #fddb09;

//Font
$logo-font: "Lilita One", sans-serif;
$hero-font: "Baloo Chettan 2", sans-serif;
$text-font: "Oxanium", sans-serif;

//Mixins
@mixin mobile-button {
    border-radius: 30px;
    padding: 8px 18px;
    font-size: 13px;
    cursor: pointer;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


textarea,
input {
    border: none;
    font-family: $text-font;
}

/* Remove up and down arrows in number input */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove focus highlight */
input:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}

textarea {
    resize: none;
}