@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Lilita+One&family=Oxanium:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
input {
  border: none;
  font-family: "Oxanium", sans-serif;
}

/* Remove up and down arrows in number input */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove focus highlight */
input:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

body {
  background-color: #191919;
  font-family: "Oxanium", sans-serif;
}

button {
  font-family: "Oxanium", sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loading .text-loading {
  margin-left: 10px;
  font-size: 18px;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  color: #ffffff;
  padding: 30px;
}
header .logo {
  font-family: "Lilita One", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
header .buttons button {
  border-radius: 30px;
  padding: 8px 18px;
  font-size: 13px;
  cursor: pointer;
}
header .buttons .user-info {
  display: flex;
  align-items: center;
}
header .buttons .user-info .username {
  margin-right: 12px;
}
header .buttons .user-info .logout-btn {
  background-color: rgba(255, 255, 255, 0.1254901961);
  color: #ffffff;
  border: none;
}
header .buttons .login-btn {
  margin-left: 7px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
header .buttons .signup-btn {
  background-color: #ffffff;
  border: none;
}

.page {
  background-color: #191919;
  padding-inline: 30px;
}
.page .hero-section .hero-box {
  position: relative;
}
.page .hero-section .hero-box h2 {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: "Baloo Chettan 2", sans-serif;
  line-height: 32px;
}
.page .hero-section .hero-box img {
  border-radius: 30px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .hero-section .hero-box button {
  position: absolute;
  bottom: 20px;
  right: 30px;
  border: 1px solid #191919;
  background-color: #191919;
  color: #ffffff;
  border-radius: 30px;
  padding: 8px 18px;
  font-size: 13px;
  cursor: pointer;
}
.page .hero-section .hero1 {
  color: #ffffff;
  margin-bottom: 10px;
}
.page .category-section .category-wrapper ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #ffffff;
  list-style: none;
  gap: 10px;
  margin: 30px 0px;
}
.page .category-section .category-wrapper ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1254901961);
  padding: 10px 0px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}
.page .category-section .category-wrapper ul li p {
  height: 16px;
}
.page .category-section .category-wrapper ul li svg {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
.page .movie-container {
  overflow: hidden;
  padding-bottom: 30px;
}
.page .movie-section {
  overflow: hidden;
  scroll-behavior: smooth;
}
.page .movie-section .movie-wrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
}
.page .movie-section .movie-wrapper .movie-box img {
  width: 200px;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

footer {
  background-color: rgba(255, 255, 255, 0.1254901961);
  color: white;
  padding: 20px 30px;
}
footer .footer-menu {
  margin-bottom: 20px;
}
footer .footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  font-size: 14px;
}
footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer .footer-social svg {
  width: 30px;
  height: 30px;
  color: #ffffff;
}
footer .footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
footer .footer-copyright p {
  font-size: 12px;
}

.single-page {
  background-color: #ffffff;
}
.single-page .movie-poster {
  padding: 50px;
  width: 100%;
  border-bottom: 1px solid #191919;
}
.single-page .movie-poster .singleMovie-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-page .movie-poster .singleMovie-image img {
  width: 250px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-page .movie-poster .singleMovie-text {
  text-align: center;
  margin-top: 30px;
}
.single-page .movie-poster .singleMovie-text .movie-rating {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-page .movie-poster .singleMovie-text .movie-rating .rating-stars {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.single-page .movie-poster .singleMovie-text .movie-rating .rating-stars svg {
  color: #fddb09;
}
.single-page .movie-poster .singleMovie-text .movie-rating .rating-stars span {
  margin-left: 5px;
  height: 17px;
}
.single-page .title-style {
  font-size: 17px;
}
.single-page .movie-details {
  padding: 20px 30px 30px;
  border-bottom: 1px solid #191919;
}
.single-page .movie-details .details {
  display: flex;
  margin-top: 10px;
}
.single-page .movie-details .details .detail-title {
  width: 140px;
}
.single-page .movie-details .details .detail-contents {
  width: 100%;
  line-height: 22px;
}
.single-page .movie-reviews {
  padding: 30px 30px 40px;
  border-bottom: 1px solid #191919;
}
.single-page .movie-reviews .review-container {
  margin-top: 20px;
}
.single-page .movie-reviews .review-container .review-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.single-page .movie-reviews .review-container .review-box .review-rating {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.single-page .movie-reviews .review-container .review-box .review-rating span {
  margin-left: 5px;
}
.single-page .movie-reviews .review-container .review-box .review-rating svg {
  color: #fddb09;
}
.single-page .movie-reviews .review-container .review-text {
  line-height: 21px;
}
.single-page .write-movie-review {
  padding: 30px 30px 40px;
  border-bottom: 1px solid #191919;
}
.single-page .write-movie-review .review-input-box {
  margin-top: 20px;
}
.single-page .write-movie-review .review-input-box .input-style {
  display: flex;
  align-items: flex-start;
}
.single-page .write-movie-review .review-input-box .input-style .label {
  font-size: 17px;
  width: 100px;
}
.single-page .write-movie-review .review-input-box .input-style textarea,
.single-page .write-movie-review .review-input-box .input-style input {
  width: 100%;
  font-size: 16px;
}
.single-page .write-movie-review .review-input-box .input-style textarea {
  height: 150px;
}
.single-page .write-movie-review .review-input-box .input-text {
  margin-top: 10px;
}
.single-page .write-movie-review .review-submit-btn {
  display: flex;
  justify-content: flex-end;
}
.single-page .write-movie-review .review-submit-btn button {
  border-radius: 30px;
  padding: 8px 18px;
  font-size: 13px;
  cursor: pointer;
  border: none;
  background-color: #191919;
  color: #ffffff;
  margin-top: 5px;
}

.login-signup-style {
  padding: 30px 30px 70px;
  color: #ffffff;
}
.login-signup-style .image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-signup-style .image-box img {
  width: 280px;
}
.login-signup-style h4 {
  font-size: 25px;
  text-align: center;
  margin: 40px 0px;
}
.login-signup-style .user-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.login-signup-style .user-input-box .input-box {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-signup-style .user-input-box .input-box input {
  height: 45px;
  width: 90%;
  border-radius: 30px;
  border: none;
  padding-left: 25px;
}
.login-signup-style .login-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.login-signup-style .login-btn-box button {
  height: 43px;
  width: 90%;
  border-radius: 30px;
  border: none;
  background-color: #EC011C;
  color: #ffffff;
  cursor: pointer;
}
.login-signup-style .link-to-otherway {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}
.login-signup-style .link-to-otherway .otherway-contents {
  width: 90%;
  display: flex;
}
.login-signup-style .link-to-otherway .otherway-contents span {
  color: #F55466;
  margin-left: 10px;
  cursor: pointer;
}
.login-signup-style .error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
}
.login-signup-style .error-message .error {
  width: 90%;
  display: flex;
  align-items: center;
  color: #f92c44;
}
.login-signup-style .error-message .error svg {
  color: #EC011C;
  margin-right: 3px;
}

@media screen and (min-width: 992px) {
  header {
    padding: 30px 50px;
  }
  header .logo {
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
    cursor: pointer;
  }
  header .buttons .logo {
    font-size: 26px;
  }
  header .buttons button {
    border-radius: 30px;
    padding: 8px 23px;
    font-size: 16px;
    cursor: pointer;
  }
  header .buttons .user-info .username {
    margin-right: 15px;
    font-size: 18px;
    height: 17px;
  }
  .page {
    padding-inline: 50px;
  }
  .page .hero-section {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
    gap: 20px;
  }
  .page .hero-section .hero-box {
    display: flex;
    align-items: center;
  }
  .page .hero-section .hero-box h2 {
    top: 30px;
    left: 40px;
    font-size: 27px;
  }
  .page .hero-section .hero-box img {
    height: 260px;
  }
  .page .hero-section .hero-box button {
    bottom: 30px;
    right: 30px;
    border-radius: 30px;
    padding: 8px 23px;
    font-size: 16px;
    cursor: pointer;
  }
  .page .hero-section .hero1 {
    margin-bottom: 0px;
  }
  .page .category-section .category-wrapper ul {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
  }
  .page .category-section .category-wrapper ul li {
    padding: 17px 0px;
    font-size: 17px;
    width: 100%;
  }
  .page .category-section .category-wrapper ul li p {
    height: 18px;
  }
  .page .category-section .category-wrapper ul li svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .page .movie-container {
    overflow: hidden;
    padding-bottom: 50px;
  }
  .page .movie-section {
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .page .movie-section .movie-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
  }
  .page .movie-section .movie-wrapper .movie-box img {
    width: 220px;
    height: 310px;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
  }
  footer {
    background-color: rgba(255, 255, 255, 0.1254901961);
    color: white;
    padding: 20px 30px;
  }
  footer .footer-menu {
    display: none;
  }
  footer .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  footer .footer-social svg {
    width: 30px;
    height: 30px;
  }
  footer .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  footer .footer-copyright p {
    font-size: 13px;
  }
  .single-page {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  .single-page .movie-poster {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 70px;
    border-bottom: none;
    border-right: 1px solid #191919;
  }
  .single-page .movie-poster .singleMovie-image img {
    width: 300px;
    max-height: 500px;
  }
  .single-page .movie-poster .singleMovie-text {
    margin-top: 20px;
  }
  .single-page .movie-poster .singleMovie-text h2 {
    font-size: 30px;
  }
  .single-page .movie-poster .singleMovie-text .movie-rating {
    margin-top: 10px;
  }
  .single-page .movie-poster .singleMovie-text .movie-rating p {
    font-size: 18px;
    height: 20px;
  }
  .single-page .movie-poster .singleMovie-text .movie-rating .rating-stars {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .single-page .movie-poster .singleMovie-text .movie-rating .rating-stars svg {
    width: 20px;
    height: 20px;
  }
  .single-page .movie-poster .singleMovie-text .movie-rating .rating-stars span {
    margin-left: 10px;
    font-size: 18px;
    height: 17px;
  }
  .single-page .title-style {
    font-size: 20px;
  }
  .single-page .movie-details {
    padding: 20px 40px 30px;
  }
  .single-page .movie-details .details {
    margin-top: 15px;
  }
  .single-page .movie-details .details .detail-title {
    width: 200px;
  }
  .single-page .movie-details .details .detail-contents {
    font-size: 18px;
  }
  .single-page .movie-reviews {
    padding: 30px 40px 40px;
  }
  .single-page .movie-reviews .review-container {
    margin-top: 23px;
    font-size: 18px;
  }
  .single-page .movie-reviews .review-container .review-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .single-page .movie-reviews .review-container .review-box .review-rating {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .single-page .movie-reviews .review-container .review-box .review-rating span {
    margin-left: 5px;
  }
  .single-page .movie-reviews .review-container .review-box .review-rating svg {
    margin-bottom: 3px;
    width: 19px;
    height: 19px;
  }
  .single-page .movie-reviews .review-container .review-text {
    line-height: 21px;
  }
  .single-page .write-movie-review {
    padding: 30px 40px 40px;
    border-bottom: 1px solid #191919;
  }
  .single-page .write-movie-review .review-input-box {
    margin-top: 20px;
  }
  .single-page .write-movie-review .review-input-box .input-style {
    display: flex;
    align-items: flex-start;
  }
  .single-page .write-movie-review .review-input-box .input-style .label {
    font-size: 19px;
    width: 120px;
  }
  .single-page .write-movie-review .review-input-box .input-style textarea,
  .single-page .write-movie-review .review-input-box .input-style input {
    width: 100%;
    font-size: 18px;
  }
  .single-page .write-movie-review .review-input-box .input-style textarea {
    height: 150px;
  }
  .single-page .write-movie-review .review-input-box .input-text {
    margin-top: 15px;
  }
  .single-page .write-movie-review .review-submit-btn button {
    border-radius: 30px;
    padding: 8px 23px;
    font-size: 16px;
    cursor: pointer;
  }
  .login-signup-style {
    display: flex;
    width: 100%;
    padding: 30px 100px 70px;
    height: 80vh;
  }
  .login-signup-style .image-box {
    flex: 1;
  }
  .login-signup-style .image-box img {
    width: 380px;
  }
  .login-signup-style .input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-signup-style h4 {
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 60px;
  }
  .login-signup-style .user-input-box {
    margin-bottom: 15px;
  }
  .login-signup-style .user-input-box .input-box {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-signup-style .user-input-box .input-box input {
    height: 55px;
    font-size: 18px;
    padding-left: 30px;
  }
  .login-signup-style .login-btn-box {
    margin-bottom: 30px;
  }
  .login-signup-style .login-btn-box button {
    height: 50px;
    font-size: 16px;
  }
  .login-signup-style .link-to-otherway {
    font-size: 16px;
  }
  .login-signup-style .link-to-otherway .otherway-contents span {
    margin-left: 12px;
  }
  .login-signup-style .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }
  .login-signup-style .error-message .error {
    width: 90%;
    display: flex;
    align-items: center;
    color: #f92c44;
  }
  .login-signup-style .error-message .error svg {
    color: #EC011C;
    margin-right: 3px;
  }
}/*# sourceMappingURL=App.css.map */